@for $i from 1 to 10 {
  .pr-#{$i} {
    padding-right: 5px * $i;
  }
}

@for $i from 1 to 10 {
  .pl-#{$i} {
    padding-left: 5px * $i;
  }
}

@for $i from 1 to 10 {
  .ml-#{$i} {
    margin-left: 5px * $i;
  }
}

@for $i from 1 to 10 {
  .mr-#{$i} {
    margin-right: 5px * $i;
  }
}
