@import "../../common/scss/common.scss";

#navbot {
  width: 100%;
  height: $h-nav-xl;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: $bs-nav-bot;
  @include flex-space-between;
  .button-fly {
    width: $w-button-fly;
    height: $h-logo-xl;
    @include flex-center;
  }
  .button-right {
    @include flex-center;
    &--item {
      @include flex-col-center;
      width: $w-nav-item;
      height: $h-logo-xl;
    }
    .icon{
      margin-bottom: -4px;
    }

  }
  p {
    font-size: $f-nav-xl;
  }
  span.icon {
    font-size: $f-nav-icon-xl;
    color: $icon-color;
  }
}
