.border-left {
  border-left: 0.5px solid $border-gray-color;
}

.border-right {
  border-right: 0.5px solid $border-gray-color;
}

.border-top {
  border-top: 0.5px solid $border-gray-color;
}

.border-bottom {
  border-bottom: 0.5px solid $border-gray-color;
}

